<% include partials/header %>
<div class="container">
    <h1> This is Home Page </h1>

    <a href="/signup">Sign-UP </a>
    <br> 

    <a href="/login">Login </a>
</div>
<% include partials/footer %>