<% include partials/header %>
<div class="container" style="text-align: center; display: block;">
    <h1> Pay Money </h1>
    <img src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.15752-9/70447701_2415872375355000_1463836540806365184_n.png?_nc_cat=109&_nc_oc=AQkDt0z48Q179nRVyRkQICcH5doCF29DPGvZ4qTmb-hy-lpEhS8nmQd6tLjld8_Ov2Y&_nc_ht=scontent-bom1-2.xx&oh=660014427284d842ac75b8a9e62917c6&oe=5E389D2E">
</div>
<% include partials/footer %>